# Ignore everything by default
*
# But keep .gitignore itself
!.gitignore
# Allow the Projects
!/Project1/
!/Project1/**
!/Project2/
!/Project2/**
!/otherProjects/
!/otherProjects/**
!/Project3/
!/Project3/**
# Optional: ignore system/editor files
.DS_Store
.vscode/
.idea