                      /*Header*/
.header {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
      left: 0px;
      right: 0px;
      top: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-color: rgb(219, 216, 216);
  border-bottom-style: solid;
  z-index: 1000;

}
.leftsection {
  align-items: center;
  display: flex;

}
.hamburgermenu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.hamburgermenu:hover {
  cursor: pointer;
}
.youtubelogo {
  height: 20px;
}
.middlesection {
  flex: 1;
  margin-left: 72px;
  margin-right: 24px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.searchbar {
  height: 34px;
  width: 0;
  flex: 1;
  max-width: 344px;
  padding-left: 12px;
  padding-top: 4px;
  border-radius: 3px;
  border: 1px solid rgb(219, 216, 216);
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}
.searchbar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: gray;
}
.searchbutton {
  height: 40px;
  width: 64px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-left: -1px;
  margin-right: 8px;
  cursor: pointer;
}
.searchbutton, .voicesearchbutton, .uploadbutton, .appsbutton,
.notificationsbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;}
.searchbutton .tooltip,
.voicesearchbutton .tooltip,
.uploadbutton .tooltip,
.appsbutton .tooltip,
.notificationsbutton .tooltip {
  font-family: Roboto, Arial;
  font-size: 12px;
 position: absolute;
 background-color: gray;
  color: white; 
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  bottom: -30px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
}
.searchbutton:hover .tooltip,
.voicesearchbutton:hover .tooltip,
.uploadbutton:hover .tooltip,
.appsbutton:hover .tooltip,
.notificationsbutton:hover .tooltip {
  opacity: 1;
  transition-duration: 0.15s;
}
.searchbutton:hover {
  background-color: rgb(223, 221, 221);
}
.searchbutton:active { opacity: 0.80; }
.searchicon {
  height: 24px;
}
.voicesearchbutton {
  height: 40px;
  border-radius: 100%;
  border: none;
  width: 40px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.voicesearch {
  height: 24px;
}
.rightsection {
  margin-right: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.uploadbutton, .appsbutton, .notificationsbutton {
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.upload, .apps, .notifications {
  height: 24px;
}
.notificationsbutton {
  position: relative;
}
.notificationscount {
  background-color: rgb(204, 0, 0);
  font-family: Roboto, Arial;
    border-radius: 100%;
    position: absolute;
    top: 4px;
    right: 0.1px;
    color: white;
    border: 1.6px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    padding: 1.5px 5px;
    pointer-events: none;
}
.profilebutton {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.profile {
  height: 32px;
  border-radius: 100%;
}



